on early-init
    mkdir /etc 0755 root root

on init
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

on fs
    setprop sys.usb.ffs.aio_compat 1
    export ANDROID_ROOT /system_root
    write /sys/devices/platform/mt_usb/cmode 2

on post-fs-data
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

on property:ro.debuggable=1
    write /sys/devices/platform/mt_usb/cmode 1
